@using Documaster.Model.Entities
@model Documaster.Model.Entities.ProjectTemplate

@{
    var projectId = ViewBag.ProjectId;
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                X
            </button>
            <h4 class="modal-title">Creare document</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.ProjectId)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Text, "Sablon", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TemplateId", new SelectList(ViewBag.Templates, "Id", "Name"), "Selecteaza sablon", new { @class = "form-control", id = "templateId" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Nume", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "docName" }, autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">

                            <a class="btn btn-primary" data-dismiss="modal" id="saveProjectTemplate" onclick="saveProjectTemplate()">Salveaza</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    var saveProjectTemplate = function() {

        var projectId = @projectId;
        var templateId = $("#templateId").val();
        var name = $("#docName").val();

        var url = '@Url.Action("Create", "ProjectTemplate")';

        $.post(url, { projectId, templateId, name})
            .done(function() {
                reloadTabs.reloadCurrentTab();
        });
    };

    $(document).ready(function() {
        $("#templateId").change(function () {
            $('#docName').val($(this).find(':selected').text());
            console.log("#docName");
        });
    });
</script>
