@model Documaster.Model.Entities.ProjectTemplate

<link href="~/Content/summernote/summernote.css" rel="stylesheet" />
<script src="~/Scripts/summernote/summernote.min.js"></script>

<div class="modal-dialog" id="modal-2">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                X
            </button>
            <h4 class="modal-title">Previzualizare document</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "ProjectTemplate", FormMethod.Post))
            {
                @Html.HiddenFor(x=>x.Id, new { id = "projectTemplateId"})
                @Html.HiddenFor(x=>x.ProjectId, new { id = "projectId"})
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.TextAreaFor(x=>x.Text, new { id = "template-notes" })
                </div>
                <div class="form-horizontal">
                   <a class="btn btn-default" onclick="editProjectTemplate()">Salveaza</a>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var reloadCurrentTab = function () {
        const currentIndex = $("#tabs").tabs();
        $("#tabs").tabs('load', currentIndex);
    };

    var editProjectTemplate = function() {
        var formData = new FormData();
        formData.append("projectTemplateId", $("#projectTemplateId").val());
        formData.append("projectId", $("#projectId").val());
        formData.append("text", $("#template-notes").val());
        console.log(formData);
        var url = '@Url.Action("Edit", "ProjectTemplate")';
        $.ajax({
            url: url,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData
        }).success (function () {
            $("#myModal").modal("hide");
            reloadCurrentTab();
        });
    };

    $(document).ready(function () {
        $("#template-notes").summernote({
            height: 500,
            toolbar: [
                ["style", ["style"]],
                ["fontstyle", ["bold", "italic", "clear"]],
                ["fonttype", ["fontsize", "fontname"]],
                ["color", ["color"]],
                ["para", ["ul", "ol", "paragraph"]],
                ["table", ["table"]],
                ["inserts", ["link", "picture", "video"]],
            ]
        });
    });</script>
