@using Documaster.Model.Entities
@model Documaster.Model.Entities.ProjectTemplate


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                X
            </button>
            <h4 class="modal-title">Previzualizare sablon</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                @*@Html.HiddenFor(model=>model.Text)*@
                @Html.LabelFor(model => model.Name, "Nume", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Text, "Sabloane", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Text", new SelectList(ViewBag.Templates, "Text", "Name"), new { @class = "form-control" })
                </div>

                <div class="form-horizontal">
                    <input type="submit" value="Salveaza" class="btn btn-default" />
                </div>
            }
        </div>
    </div>

</div>

