@model Documaster.Model.Entities.Template
@using System.Configuration
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var path = AppDomain.CurrentDomain.BaseDirectory + "Config/Placeholders.json";
    var configFile = File.ReadAllText(path);
    var dictionary = JsonConvert.DeserializeObject<Dictionary<string, string>>(configFile, new JsonSerializerSettings());
}

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

<h2>Edit</h2>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> Orice modificare a sablonului conduce la pierderea documentelor intermediare salvate
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-8">
            <div class="form-group row">
                @Html.LabelFor(m => m.Name, "Nume", htmlAttributes: new { @class = "col-form-label col-sm-1" })
                <div class="col-sm-11">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" }, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @Html.TextAreaFor(m => m.Text, new { id = "template-notes" })
            </div>
            <div class="form-horizontal">
                <input type="submit" value="Salveaza" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-4">
            <p>Placeholders</p>
            <hr />

            @foreach (var item in dictionary.Keys)
            {
                <p> @item</p>
            }

        </div>

    </div>
}
<div class="col-md-9">
    @Html.ActionLink("Inapoi la lista", "Index")
</div>

<script>$(document).ready(function () {
        $("#template-notes").summernote({
            height: 500,
            toolbar: [
                ["style", ["style"]],
                ["fontstyle", ["bold", "italic", "clear"]],
                ["fonttype", ["fontsize", "fontname"]],
                ["color", ["color"]],
                ["para", ["ul", "ol", "paragraph"]],
                ["table", ["table"]],
                ["inserts", ["link", "picture", "video"]],
            ]
        });
    });</script>