@using Documaster.Ui.Models
@model IEnumerable<Documaster.Ui.Models.FileToUpdate>
@{
    ViewBag.Title = "CustomerProject";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@*<link href="~/Content/tinytools.toggleswitch.min.css" rel="stylesheet" />
    <script src="~/Scripts/tinytools.toggleswitch.min.js"></script>
    <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />*@


@if (!Model.Any())
{
    <p>Nu ati selectat niciun aviz!</p>
}
else
{
    foreach (var req in Model)
    {
        var formId = "uploadFileForm" + req.Id;
        var buttonId = "uploadFileButton" + req.Id;
        var openFileButton = "openFile" + req.Id;

        @Html.DisplayFor(x => req.CategoryName)
        <div class="documentLine">
            @*@using (Html.BeginForm("Upload", "Requirement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formInline" }))*@

            <form id="@formId" method="post" enctype="multipart/form-data" action="@Url.Action("Upload","Requirement")">
                <input type="file" name="file" id="@buttonId" style="display: none" />
            </form>

            @if (req.Status)
            {
                <label class="switch">
                    <input type="checkbox" disabled checked="checked">
                    <span class="slider round"></span>
                </label>
            }
            else
            {
                <label class="switch">
                    <input type="checkbox" disabled>
                    <span class="slider round"></span>
                </label>
            }

            <label>
                @Html.DisplayFor(x => req.RequirementName)
            </label>

            @Html.Hidden("projectId", req.ProjectId)
            @Html.Hidden("requirementId", req.RequirementId)


            <label>
                @Html.DisplayFor(x => req.FileName)
            </label>

            <button type="button" class="openFile" id="@openFileButton">Open</button>
            <input class="uploadButton" type="file" name="fileUpload" />
            @*}*@

            @if (req.Status)
            {
                @Html.ActionLink("Stergere", "DeleteDocument", new { documentId = req.Id, projectId = req.ProjectId })

                @Html.ActionLink("Download", "DownloadDocument", new { documentId = req.Id })

            }
        </div>

    }
}
@section scripts{
    <script>
     
      

    </script>
}
