@model IEnumerable<Documaster.Ui.Models.FileToUpdate>
@{
    ViewBag.Title = "CustomerProject";
    var projectId = (object)ViewBag.ProjectId;
}
<link href="~/Content/Site.css" rel="stylesheet" />
@*<link href="~/Content/tinytools.toggleswitch.min.css" rel="stylesheet" />
    <script src="~/Scripts/tinytools.toggleswitch.min.js"></script>
    <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />*@


@if (!Model.Any())
{
    <p>Nu ati selectat niciun aviz!</p>
}
else
{
    foreach (var req in Model)
    {
        var formId = "uploadFileForm" + req.Id;
        var buttonId = "uploadFileButton" + req.Id;
        var openFileButton = "openFile" + req.Id;

        @Html.DisplayFor(x => req.CategoryName)
        <div class="documentLine row">
            <input type="file" name="fileToUpload" id="@buttonId" style="display: none" />
            @Html.Hidden("requirementId", req.RequirementId, new { @class = "requirementId" })
            <button class="openFile pull-right">Upload</button>


            @if (req.Status)
            {
                <label class="switch">
                    <input type="checkbox" disabled checked="checked">
                    <span class="slider round"></span>
                </label>
            }
            else
            {
                <label class="switch">
                    <input type="checkbox" disabled>
                    <span class="slider round"></span>
                </label>
            }

            <label>
                @Html.DisplayFor(x => req.RequirementName)
            </label>

            @Html.Hidden("projectId", req.ProjectId)
            @Html.Hidden("requirementId", req.RequirementId)

            <label>
                @Html.DisplayFor(x => req.FileName)
            </label>

            @if (req.Status)
            {
                <button class="deleteButton" onclick="deleteDocument(@req.Id)" data-documentid="@req.Id">Sterge</button>
                @Html.ActionLink("Download", "DownloadDocument", new { documentId = req.Id })

            }
        </div>
    }
}

<script type="text/javascript">
         $ (document).ready (function () {
             var projectId = @projectId;
             var documentType = "@Documaster.Model.Enums.DocumentType.OutputDocument.ToString()";
        $("input[type='file']").each (function (index, value) {
            var requirementId = $(value).parent().find("input[name='requirementId']").val();
            $(value).change(function (element) {
                uploadFile(element, projectId, requirementId,documentType);
            });
        });
        $(".openFile").each(function (index, value) {
            applyClickTransfer (value);
        });
         });

</script>

