@model IEnumerable<Documaster.Model.Entities.ProjectTemplate>
    @{
        var projectId = (object)ViewBag.ProjectId;
        var customizeTabId = (object)ViewBag.CustomizeTabId;
        var baseUrl = Url.Content("~");
    }

    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/Documaster/ReloadTabs.js"></script>
    <script src="~/Scripts/Documaster/ProjectDocument.js"></script>
    <div class="container">
        @Ajax.ActionLink("Adauga", "Create", "ProjectTemplate", new { projectId, customizeTabId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "myModal", OnSuccess = "showModalDialog()" }, new { @class = "button btn  btn-primary" })
        @foreach (var item in Model)
        {
            var href = baseUrl + "Requirement/ExportWord?projectId=" + projectId + "&name=" + item.Name;
            <div class="documentLine row">
                <div class="col-md-4">
                    @Ajax.ActionLink(item.Name, "Edit", "ProjectTemplate", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "myModal", OnSuccess = "showModalDialog()" }, new { @style = "color: #428bca;" })
                </div>
                <div class="col-md-3" style="padding-top: 10px;">
                    @Html.ActionLink("Pdf", "ExportPdf", "ProjectTemplate", new { id = item.Id }, new { @class = "button btn btn-info btn-xs", target = "_blank" })

                    <a class="deleteButton btn btn-danger btn-xs" onclick="deleteProjectTemplate(@item.Id)" data-id="@item.Id">Sterge</a>

                </div>
            </div>
        }
    </div>

    <script>
    var showModalDialog = function () {
        $("#myModal").modal("show");
    };

    var deleteProjectTemplate = function (id) {
        const formData = new FormData();
        formData.append("id", id);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "ProjectTemplate")',
            contentType: false,
            processData: false,
            data: formData,
            enctype: 'multipart/form-data'
        }).success(function () {
            reloadTabs.reloadCurrentTab();
        })
        .fail(function (jqXhr) {
        });
    };
    </script>
