@model IEnumerable<Documaster.Ui.Models.FileToUpdate>
@{
    ViewBag.Title = "Photos";
    var projectId = ( object ) ViewBag.ProjectId;
    var documentType = ( object ) ViewBag.DocumentType;
}

<div id="uploadedDocumentsTable" class="container">
    <div class="documentLine btn-group-vertical">
        <input type="file" name="fileToUpload" id="uploadFileButton" style="display: none" />
        <button class="openFile pull-right btn btn-primary">Upload fisier</button>
    </div>
    
    @foreach (var photo in Model)
    {
        <div class="documentLine row">
            <div class="col-md-4">
                <label>
                    @Html.DisplayFor( x => photo.FileName )
                </label>
            </div>
            <div class="col-md-4">
                <a class="deleteButton btn btn-danger btn-xs" onclick="deleteDocument (@photo.Id)" data-documentid="@photo.Id">Sterge</a>
                @Html.ActionLink( "Descarca", "DownloadDocument", new {documentId = photo.Id}, new {@class = "btn btn-primary btn-xs"} )
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $ (document).ready (function () {
        var projectId = @projectId;
        $ ("input[type='file']").each (function (index, value) {
            var requirementId = $ (value).parent().find ("input[name='requirementId']").val();
            $ (value).change (function (element) {
                uploadFile (element, projectId, requirementId, "@documentType");
            });
        });
        $ (".openFile").each (function (index, value) {
            applyClickTransfer (value);
        });
    });
</script>