@using System.Configuration
@{
    ViewBag.Title = "CustomerProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectId = (object)ViewBag.ProjectId;
    var specialDocumentTypeText = ConfigurationManager.AppSettings["SpecialDocumentType"];
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/tabs.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jqueryunobtrusive")
<script src="~/Scripts/Documaster/ProjectDocument.js"></script>
<br />

<div id="tabs">
    <ul>
        <li><a href="@Url.Action( "DisplayDocuments", "Requirement", new {projectId, documentType = Documaster.Model.Enums.DocumentType.Document} )">Documente</a></li>
        <li><a href="@Url.Action( "DisplayDocuments", "Requirement", new {projectId, documentType = Documaster.Model.Enums.DocumentType.SpecialDocumentType} )">@specialDocumentTypeText</a></li>
        <li><a href="@Url.Action( "OutputDocuments", "Requirement", new {projectId} )">Avize</a></li>
        <li><a href="@Url.Action( "DisplayDocuments", "Requirement", new {projectId, documentType = Documaster.Model.Enums.DocumentType.GroundDrawing} )">Foto Teren</a></li>
        <li><a href="@Url.Action( "DisplayDocuments", "Requirement", new {projectId, documentType = Documaster.Model.Enums.DocumentType.Photo} )">Foto 3D</a></li>
        <li><a href="@Url.Action( "DisplayDocuments", "Requirement", new {projectId, documentType = Documaster.Model.Enums.DocumentType.Drawing} )">Desene</a></li>
        <li><a href="">Note</a></li>
    </ul>
</div>
<div class="modal fade" id="myModal"></div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#tabs").tabs();
        });
    </script>
}