@using System.Configuration
@using Documaster.Model.Entities
@model Documaster.Model.Entities.Project

@{
    ViewBag.Title = "CustomerProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectId = (object)ViewBag.ProjectId;
    var customizeTabs = (IList<CustomizeTab>)ViewBag.CustomizeTabs;
    var specialDocumentTypeText = ConfigurationManager.AppSettings["SpecialDocumentType"];

}

<link href="~/Content/themes/base/tabs.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jqueryunobtrusive")
<script src="~/Scripts/Documaster/ProjectDocument.js"></script>
<script src="~/Scripts/Documaster/ReloadTabs.js"></script>
<br />
<div class="displayContent">
    <div>
        <div id="projectName">
            @Html.LabelFor(model => model.Name, "Nume proiect: ")
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.Customer.Name, "Nume client: ")
            @Html.DisplayFor(model => model.Customer.Name)
        </div>
    </div>
    <div id="tabs">
        <ul>
            @foreach (var item in customizeTabs)
            {
                <li><a href="@Url.Action(item.Type, "Requirement", new {projectId, documentType = item.Type, customizeTabId = item.Id})">@item.Name</a></li>
            }
        </ul>
    </div>
    <div class="modal fade" id="myModal"></div>
</div>

<script>
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>

