@model IEnumerable<Documaster.Model.Entities.Requirement>

    @{
        ViewBag.Title = "View";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var deleteSuccess = (TempData["DeleteSuccess"] == null || (bool)TempData["DeleteSuccess"]).ToString().ToLower();
    }
    <script src="~/Scripts/bootstrap-notify/bootstrap-notify.js"></script>
    <div class="displayContent">
    <h2>Lista cerinte</h2>
    <p>
        @Html.ActionLink("Adauga cerinta noua", "Create")
    </p>
    <br/>
    <table class="table" style="width: 100%">
        <tr>
            <th>
                Nume cerinta
            </th>
            <th>Nume categorie</th>
            <th>
                Numar
            </th>
            <th style="width: 10%">Actiuni</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.Id})">
                    <span class="glyphicon glyphicon-pencil" title="Modifica"></span>
                </a> |
                <a href="@Url.Action("Delete", new {id = item.Id})">
                    <span class=" glyphicon glyphicon-trash" title="Sterge"></span>
                </a>
            </td>
        </tr>
        }
    </table>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
            if(!@deleteSuccess)
            {
                $.notify("Aceasta cerinta este folosita de catre un proiect. Pentru a fi stearsa, trebuie schimbata cerinta proiectului.",{
                    type: "info",
                    delay: "6000",
                    offset: 70,
                    z_index: 9999,
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            }
        });

    </script>