@model  IEnumerable<Documaster.Model.Entities.ProjectStatus>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var deleteSuccess = (TempData["DeleteSuccess"] == null || (bool) TempData["DeleteSuccess"]).ToString().ToLower();
}

<script src="~/Scripts/bootstrap-notify/bootstrap-notify.js"></script>

<h2>Stari</h2>
<p>
    @Html.ActionLink("Adauga", "Create")
</p>
<br/>

<table class="table" style="width: 75%">
    <tr>
        <th style="width: 60%">
            Nume
        </th>
        <th style="width: 10%">
            Culoare
        </th>
        <th style="width: 25%"></th>
    </tr>
    @if(Model != null)
    {
        foreach(var item in Model)
        {
            var style = "background-color:#" + item.Color;
            @Html.HiddenFor(modelItem => item.Id)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style=@style>
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })">
                        <span class="glyphicon glyphicon-pencil" title="Modifica"></span>
                    </a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })">
                        <span class="glyphicon glyphicon-trash" title="Sterge"></span>
                    </a>
                </td>
            </tr>
        }
    }
</table>
<script>
    $(document).ready(function () {
        if (!@deleteSuccess)
        {
            $.notify("Aceasta stare este folosita de catre un proiect. Pentru a fi stearsa, trebuie schimbata starea proiectului.", {
                type: "info",
                delay: 6000,
                offset: 70,
                z_index: 9999,
                placement: {
                    from: "top",
                    align: "center"
                }
            });
        }
    });
   
</script>