@model Documaster.Model.Entities.Project
@{
    ViewBag.Title = "Modifica proiect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/jscolor.js"></script> 

<h2>Modifica proiect</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Customer.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Number, "Numar", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Name, "Nume client", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    @*insert dropdown*@
    <div class="form-group">
        @Html.LabelFor(model => model.ProjectStatus.Name, "Stare",
                new { @class = "control-label col-md-2"})
        <div class="col-md-10" id="color">
            @Html.DropDownList("ProjectStatusId",
            new SelectList(ViewBag.ProjectStatuses, "Id", "Name"),
            new { @class = "form-control jscolor", @onchange="update(this.jscolor)"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Telephone, "Nr. telefon", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.Telephone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.Telephone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.AdditionalInfo1, "CNP/CUI", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.AdditionalInfo1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.AdditionalInfo1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.AdditionalInfo2, "Date firma", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.AdditionalInfo2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.AdditionalInfo2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Nume proiect", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Address, "Adresa", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Expire, "Expira la", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Expire, new { htmlAttributes = new { @class = "form-control", id = "expire-textbox" } })
            @Html.ValidationMessageFor(model => model.Expire, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salveaza" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Inapoi la lista", "Index")
</div>

<script>$(document).ready(function () {
        var dateInput = $("#expire-textbox");
        dateInput.datepicker({
            todayHighlight: true,
            todayBtn: "linked"
        });
        var value = dateInput.attr("value");
        if (value !== "") {
            var date = new Date(value);
            dateInput.attr("value", date.toLocaleDateString());
        }

        function update(jscolor)
        {
            document.getElementById('#color').style.backgroundColor = '#' + jscolor
        }
});

    });</script>