@model IEnumerable<Documaster.Model.Entities.Project>
@{
    ViewBag.Title = "Lista proiecte";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sortDescending = !(bool)ViewBag.SortDescending;
}
<br />
<p>
    @Html.ActionLink("Lucrare Noua", "Create", new { customerId = ViewBag.CustomerId }, new { projectId = ViewBag.ProjectId, @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nr.", "List", new { sortProperty = "Number", sortDescending })
        </th>
        <th>
            @Html.ActionLink("Creat pe", "List", new { sortProperty = "CreationDate", sortDescending })
        </th>
        <th>
            @Html.ActionLink("Stare", "List", new { sortProperty = "IsReady", sortDescending })
        </th>
        <th>
            @Html.ActionLink("Nume client", "List", new { sortProperty = "Customer.Name", sortDescending })
        </th>
        <th>
            @Html.ActionLink("Nume proiect", "List", new { sortProperty = "Name", sortDescending })
        </th>
        <th>
            @Html.ActionLink("CU expira la", "List", new { sortProperty = "Expire", sortDescending })
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
         foreach (var item in Model)
        {

            var willExpire = item.Expire.HasValue && (item.Expire - DateTime.Now).Value.TotalDays < 30 ? "willExpire" : "";
    <tr class="@willExpire">
        @Html.HiddenFor(modelItem => item.Id)

        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @item.CreationDate.ToShortDateString()
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.IsReady, new { @class = "project-state" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.ActionLink(item.Name, "CustomerProject", "Requirement", new { projectId = item.Id }, "")
        </td>
        <td>
            @if (item.Expire.HasValue)
            {
                @item.Expire.Value.ToShortDateString()
            }
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Sterge", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Cerinte", "ProjectRequirements", "Requirement", new { projectId = item.Id }, "")
        </td>
    </tr>
        }
    }
</table>

<script>
    $(document).ready(function () {
        $(".project-state").change(function () {
            var projectId = $(this).parent().siblings()[0].value;     
            var state = $(this).prop("checked");
            $.post("ToggleProjectState", { projectId, state }, function () {
                console.log('success');
            });
        });
    });
</script>